<app-navbar></app-navbar>
<div style="
    background-image: url(../../../assets/images/header/04.png);
    height: 579px;
    background-repeat: no-repeat;">
    <div class="flat-header-blog">
        <header class="header menu-bar header-blog hv-menu-type2">
            <div class="container"> 
                <div class="menu-bar-wrap clearfix">
                   
                    <div class="mobile-button"><span></span></div>
                    <div class="header-menu">
                       
                    </div>
                </div>
            </div>
        </header>
        <br><br>
        <br><br>
        <div class="page-title page-title-blog">
            <div class="page-title-inner">
                <div class="breadcrumbs breadcrumbs-blog text-left">
                    <div class="container">
                        <div class="breadcrumbs-wrap">
                            <ul class="breadcrumbs-inner">
                                <li><a href="/">Accueil</a></li>
                                <li><a href="service">Service</a></li>
                            </ul>
                            <div class="title" style="color: orange;">
                                Service
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- bg-header -->

<section class="online-courses online-courses-style4">
    <div class="container">
        <div class="title-section">
            <div class="flat-title larger heading-type11">Services
              
            </div>
            
        </div>
        <div class="online-courses-wrap">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                   
                       
                  
                         
                                <img src="../assets/images/home1/maschine 2_Fotophire3.png" alt="images">
                        
                        
                           
                           
                     
                  
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                
                      
                    
                          
                                <img src="../assets/images/home1/IMG_1211.png" alt="images">
                        
                         
                           
                           
                        
                 
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    
                    
                      
                         
                                <img src="../assets/images/home1/photo 2.png" alt="images">
                         
                         
                        
                           
                           
             
                </div>
          
            </div>
        </div>
      <br><br>
        <div class="browse-all-courses pd-browse-coursetext-left" style="font-size: large;">
            <li>Création sur mesure des arrangements, programmation de drums, accompagnées de sons de synthés vintage hardware et software, en collaboration avec des musiciens professionels.</li>
            <li>Enregistrement de vos voix lead et choeurs.</li>
            <li>Captation en multipistes de vos répetitions et de vos concerts live.</li>
            <li>Mixage et mastering</li>

        </div>
        <br>
        <div class="title-section" style="text-align: center;">
            <div class="flat-title larger heading-type11">En Option
              
            </div>
            (devis sur demande)
        </div>
        <div class="browse-all-courses pd-browse-coursetext-left" style="font-size: large;">
            <li>Création d'un texte ou d'une mélodie lead adaptée à votre texte (avec droit SACEM/SDRM réservé aux auteurs compositeurs),avec fourniture de voix lead témoin..</li>
            <li>Nous disposons d'une gigantesque banque de sons, des effects et de bruitages pour la création ou le renouvellement de vos annonces publicitaires, des librairies de sampling de haute qualité de tous univers permettant une création musicale et sound-design sans limite afin d'habiller et mettre en avant votre message.</li>
    
        </div>
    </div>
   
    <br>
</section><!-- online-courses -->
<div class="cta-cr parallax" style="background-image: url('../../../assets/images/header/Komplete2.jpg');">
    <div class="overlay183251"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
                <div class="cta-content">
                    <div class="caption"></div>
                   <br>  <br>  <br>  <br>  <br>  <br>  <br>
                   
                </div>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">
                <br>  <br>  <br>  <br>  <br>  <br>  <br>
            </div>
        </div>
    </div>
</div><!-- cta-cr -->

<br>
<section class="online-courses">
    <div class="container">
        <div class="title-section">
            <div class="flat-title larger heading-type11">Intéressé ?
              
            </div>
            
        </div>
   
   
        <div class="browse-all-courses pd-browse-coursetext-left" style="font-size: large;">
            <ul> 
                <li>Adressez-nous votre enregistrement sonore (même sur smartphone) de votre mélodie

                    chantée,éventuellement accompagnée d'un instrument en précisant :</li>
            </ul>
            <li>Le style musical souhaité.</li>
            <li>Un ou plusieurs titres existants pour servir de référence au style d'arrangement désiré.</li>
            <li>Vos coordonnées téléphoniques.</li>
        <br>
           <a style="font-size: large;color: teal;" href="mailto:kasoundprod@gmail.com">A: kasoundprod@gmail.com</a>
    
        </div>
      
     
    </div>
   
</section><!-- online-courses -->

<app-footer></app-footer>
