<footer id="footer" class="footer-type1">
    <div class="form-send-email">
        <div class="container">                
            <form action="#" class="form-send">
                <input type="search" placeholder="Enter your email ...">
                <button class="btn send-button bg-clff5f60">
                    Send
                </button>
            </form>                
        </div>
    </div>
    <div id="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-footer">
                   <div class="logo-footer">
                       <img src="../../../assets/images/logo/04.png" alt="images">
                   </div>
                </div>
                <div class="col-lg-2 col-company">
                    <h3 class="widget widget-title">
                       Studio
                    </h3>
                    <ul class="widget-nav-menu">
                        <li><a href="studio">Matériel disponible</a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-link">
                    <h3 class="widget widget-title">
                        Realisation
                    </h3>
                    <ul class="widget-nav-menu">
                        <li><a href="#"> </a></li>
                        <li><a href="realisation">Nos arts</a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-course">
                    <h3 class="widget widget-title">
                        Service
                    </h3>
                    <ul class="widget-nav-menu">
                        <li><a href="service">Service</a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-media">
                    <h3 class="widget widget-title">
                        Social Media
                    </h3>
                    <ul class="widget-social-media">
                        <li><a href="https://www.facebook.com/kasoundstudio/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="https://twitter.com/kasoundprod"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="http://localhost/kasoundprod%20site/images/contact/Unknown-1.jpeg"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="bottom" class="bottom-type1 clearfix has-spacer">
        <div id="bottom-bar-inner" class="container">
            <div class="bottom-bar-inner-wrap">
                <div class="bottom-bar-content">
                    <div id="copyright">
                        © 
                        <span class="text-year">
                            2024
                        </span>
                        <span class="text-name">
                            AMROUCH Design.
                        </span>
                        <span class="license">
                            <a href="#">All Rights Reserved</a>
                        </span>
                    </div>
                </div>
                <div class="bottom-bar-menu">
                    
                </div>
            </div>
        </div>
    </div>
    <a id="scroll-top" class="show"></a>
</footer><!-- footer -->
