<div class="wrap-header">
    <header class="header flat-header lh-header header-style4 clearfix">
        <div class="site-header-inner">
            <div class="container">
                <div id="logo" class="logo">
                    <a href="/"><img src="../assets/images/logo/KaSoundProd (1).png" alt="images"></a>
                </div>
                <div class="mobile-button"><span></span></div>
                <div class="header-menu">
                    <nav id="main-nav" class="main-nav">
                        <ul class="menu">
                            <li><a href="/">Accueil</a>
                           
                            </li>
                            <li><a href="studio">Studio</a>
                              
                            </li>
                            <li><a href="service">Services</a>
                           
                            </li>
                            <li><a href="realisation">Réalisations</a>
                           
                            </li>
                            <li><a href="contact">Contact</a>
                             
                            </li>
                      
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header><!-- header -->
  </div>
  