<app-navbar></app-navbar>

<!-- wrap-header -->
<section class="transparent-head transparent-head-style4">
    <div class="container">            
        <div class="wrap-transparent">  
            <div class="title text-white" style="color: teal !important;">
                KASOUNDPROD 
            </div>
         <br>
            <div class="btn-50 hv-bg333">
                <a href="#" class="bg-clff9819">Découvrir</a>
            </div>
        </div>            
    </div>
  </section><!-- transparent-head -->
  <section class="partner-clients partner-clients-style4"> 
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="slide-client owl-carousel" data-auto="true" data-item="4" data-nav="false" data-dots="false">
                    <ul>
                        <li><img src="../assets/../assets/images/home1/MUSIC.png" alt="images"></li>
                    </ul>
                    <ul>
                        <li><img src="../assets/../assets/images/home1/MUSIC (3).png" alt="images"></li>
                    </ul>
                    <ul>
                        <li><img src="../assets/../assets/images/home1/prod.png" alt="images"></li>
                    </ul>
                    <ul>
                        <li><img src="../assets/../assets/images/home1/MUSIC (1).png" alt="images"></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="iconbox-style4">
                    <div class="apply-admission">
                        <div class="apply-admission-wrap type4 bd-type1">
                            <div class="apply-admission-inner">
                                <h2 class="title text-center">
                                    <span>Appréciez la production musicale</span>
                                </h2>
                                <div class="caption text-center">
                                    Musique & Production Perfectionnées
                                </div>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section><!-- partner-clients -->
  <section class="online-courses online-courses-style4">
    <div class="container">
        <div class="title-section">
            <div class="flat-title larger heading-type11">Le son comme vous l'aimez
              
            </div>
            
        </div>
        <div class="online-courses-wrap">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                   
                       
                  
                         
                                <img src="../assets/images/home1/Studio recording-8.png" alt="images">
                        
                        
                           
                           
                     
                  
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                
                      
                    
                          
                                <img src="../assets/images/home1/sound-4.png" alt="images">
                        
                         
                           
                           
                        
                 
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    
                    
                      
                         
                                <img src="../assets/images/home1/audio.png" alt="images">
                         
                         
                        
                           
                           
             
                </div>
          
            </div>
        </div>
      
        <div class="browse-all-courses pd-browse-course text-center">
          <p>Situé à Orléans, notre studio d'enregistrement <span style="color: orange;"><b>KASOUNDPROD</b> </span> est un endroit intimiste, dirigé par une   équipe experimentée qui saura vous accompagner tout au long de la réalisation de vos projets artistiques. Que vous soyez artiste amateur, professionel ou label indepandant, nous vous apporterons le meilleur grâce à notre savoir-faire, notre expérience et notre choix technique de matériel de qualité.</p>
        </div>

    </div>
</section><!-- online-courses -->
<div class="cta-cr parallax" style="background-image: url('../assets/images/home1/Studiorecord1.jpg');">
    <div class="overlay183251"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
                <div class="cta-content">
                    <div class="caption"></div>
                    <h3 style="color: orange;font-size: 400%;">
                        KASOUNDPROD
                    </h3>
                  
                </div>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">
                <div class="cta-information">
                    <div class="phone">
                        <br>  <br>
                    </div>
                    <div class="email">
                        <br>  <br>  <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- cta-cr -->
<br><br>
<section class="flat-hobby flat-hobby-style4">
    <div class="container">
        <div class="section-heading text-center">
            <div class="title-section">
                <div class="flat-title small heading-type12">Which one do you prefer?</div>
            </div>
            <p class="caption">
                A crew of experienced educators helms our vast and growing library. Expertise, explore and download data  learn about education-related data and research.
            </p>
        </div>
        <div class="carousel-hobby carousel-hobby-style4">
            <div class="flat-carousel-box data-effect clearfix" data-gap="30" data-column="4" data-column2="3" data-column3="2" data-column4="1" data-dots="true" data-auto="true" data-nav="true">
                <div class="owl-carousel">
                    <div class="imagebox-hobby">
                        <img src="../assets/images/home1/prism atlas.png" alt="images">
                    </div>
                    <div class="imagebox-hobby">
                        <img src="../assets/images/home1/atlas-software-scre.png" alt="images">
                    </div>
                    <div class="imagebox-hobby">
                        <img src="../assets/images/home1/jam.png" alt="images">
                    </div>
                    <div class="imagebox-hobby">
                        <img src="../assets/images/home1/kontrole.png" alt="images">
                    </div>

                 
                </div>
            </div>
        </div>
    </div>
</section><!-- flat-hobby -->
<br><br>
  <app-footer></app-footer>