<app-navbar></app-navbar>
<div class="bg-header">
    <div class="flat-header-blog">
        <header class="header menu-bar header-blog hv-menu-type2">
            <div class="container"> 
                <div class="menu-bar-wrap clearfix">
                   
                    <div class="mobile-button"><span></span></div>
                    <div class="header-menu">
                       
                    </div>
                </div>
            </div>
        </header>
        <br><br>
        <br><br>
        <div class="page-title page-title-blog">
            <div class="page-title-inner">
                <div class="breadcrumbs breadcrumbs-blog text-left">
                    <div class="container">
                        <div class="breadcrumbs-wrap">
                            <ul class="breadcrumbs-inner">
                                <li><a href="/">Accueil</a></li>
                                <li><a href="studio">Studio</a></li>
                            </ul>
                            <div class="title" style="color: orange;">
                                Studio
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- bg-header -->

<section class="online-courses online-courses-style4">
    <div class="container">
        <div class="title-section">
            <div class="flat-title larger heading-type11">Studio
              
            </div>
            
        </div>
        <div class="online-courses-wrap">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                   
                       
                  
                         
                                <img src="../../../assets/images/header/prism atlas.png" alt="images">
                        
                        
                           
                           
                     
                  
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                
                      
                    
                          
                                <img src="../../../assets/images/header/IMG_0304.png" alt="images">
                        
                         
                           
                           
                        
                 
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    
                    
                      
                         
                                <img src="../../../assets/images/header/IMG_0392.png" alt="images">
                         
                         
                        
                           
                           
             
                </div>
          
            </div>
        </div>
      
        <div class="browse-all-courses pd-browse-course text-left" style="font-size: large;">

            <p>
                Aussi exigeants que nos artistes, nous avons choisi un matériel de qualité professionelle afin d'obtenir le meilleur.
            </p>
            <p>
                    Nous disposons d'une Station audionumérique qui est le coeur même de notre studio, conversion AD/DA  allant jusqu'à 192khz.
                </p>
                <p>
                    Un mélange hardware/software sculptera et finalisera vos arrangements avant l'étape mixage et mastering.
            </p><br>
            <p style="text-align: center;text-decoration: underline;font-size: xx-large;color: orange;">
                Matériel disponible chez KASOUNDPROD
            </p><br>


  <li>Station d'enregistrement et mixage Pro tools 12</li>
  <li>Aquisition audio-numérique Prism Audio Atlas 192khz</li> 
  <li>Aphex US</li>  
  <li>Sommation avec préamp Studer</li>  
   <li>SPL Vitalizer Exciter</li> 
  <li>Des micros divers en fonction des besoins</li>  
   <li>Expandeus: Korg, Roland, Yamaha, Nord Lead</li> 
  <li>Pack Native Ultimate Komplete</li>  
  <li> Plusieurs racks de traitement audio : Reverb, Delay, Equ, Correcteur de voix, Vitalizer...</li> 
   <li>Monitoring JBL, Controller SPL</li> 
        </div>

    </div>
</section><!-- online-courses -->
<div class="cta-cr parallax" style="background-image: url('../../../assets/images/header/Komplete2.jpg');">
    <div class="overlay183251"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
                <div class="cta-content">
                    <div class="caption"></div>
                   <br>  <br>  <br>  <br>  <br>  <br>  <br>
                   
                </div>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">
                <br>  <br>  <br>  <br>  <br>  <br>  <br>
            </div>
        </div>
    </div>
</div><!-- cta-cr -->
<app-footer></app-footer>