<app-navbar></app-navbar>
<div style="
    background-image: url(../../../assets/images/header/05.png);
    height: 579px;
    background-repeat: no-repeat;">
    <div class="flat-header-blog">
        <header class="header menu-bar header-blog hv-menu-type2">
            <div class="container"> 
                <div class="menu-bar-wrap clearfix">
                   
                    <div class="mobile-button"><span></span></div>
                    <div class="header-menu">
                       
                    </div>
                </div>
            </div>
        </header>
        <br><br>
        <br><br>
        <div class="page-title page-title-blog">
            <div class="page-title-inner">
                <div class="breadcrumbs breadcrumbs-blog text-left">
                    <div class="container">
                        <div class="breadcrumbs-wrap">
                            <ul class="breadcrumbs-inner">
                                <li><a href="/">Accueil</a></li>
                                <li><a href="realisation">Réalisations</a></li>
                            </ul>
                            <div class="title" style="color: orange;">
                                Réalisations
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- bg-header -->

<div class="section-heading text-center">
    <div class="title-section">
        <div class="flat-title small heading-type12">Nos Réalisations</div>
    </div>

</div>

<div class="course-grid">
    <div class="container">
 
        <div class="flat-courses clearfix isotope-courses">
            <div class="course clearfix Marketing Certificate Popular">    
                <div class="flat-course">
                    <div class="featured-post post-media">
                        <div class="entry-image pic">
                            <img src="../../../assets/images/home1/Chico-80-ss.png" alt="images">
                            <div class="hover-effect"></div>

                        </div>
                    </div>
                    
                </div>
            </div> 
            <div class="course clearfix Marketing">    
                <div class="flat-course">
                    <div class="featured-post post-media active">
                        <div class="entry-image pic">
                            <img src="../../../assets/images/home1/dc1cb3cf-4792-4bc7-b137-e396e68e5914.png" alt="images">
                            <div class="hover-effect"></div>

                        </div>
                    </div>
                    
                </div>
            </div> 
            <div class="course clearfix Popular Certificate">    
                <div class="flat-course">
                    <div class="featured-post post-media">
                        <div class="entry-image pic">
                            <img src="../../../assets/images/home1/Kaporal.png" alt="images">
                            <div class="hover-effect"></div>

                        </div>
                    </div>
                    
                </div>
            </div> 
            <div class="course clearfix Marketing Certificate Learning">    
                <div class="flat-course">
                    <div class="featured-post post-media">
                        <div class="entry-image pic">
                            <img src="../../../assets/images/home1/IMG_0657.png" alt="images">
                            <div class="hover-effect"></div>

                        </div>
                    </div>
                  
                </div>
            </div> 
            <div class="course clearfix Marketing Certificate">    
                <div class="flat-course">
                    <div class="featured-post post-media">
                        <div class="entry-image pic">
                            <img src="../../../assets/images/home1/Color802-360x360.png" alt="images">
                            <div class="hover-effect"></div>

                        </div>
                    </div>
                    
                </div>
            </div> 
            <div class="course clearfix Marketing Certificate">    
                <div class="flat-course">
                    <div class="featured-post post-media">
                        <div class="entry-image pic">
                            <img src="../../../assets/images/home1/william Elger.png" alt="images">
                            <div class="hover-effect"></div>

                        </div>
                    </div>
                    
                </div>
            </div> 
 
        </div> 
   
    </div>
</div><!-- course-grid -->

<div class="section-heading text-center">
    <div class="title-section">
        <div class="flat-title small heading-type12">Plusieurs artistes nous ont fait confiance

        </div>
    </div>
   
</div>

<div style="
    background-image: url(../../../assets/images/header/06.png);
    height: 579px;
    background-repeat: no-repeat;">
    <div class="flat-header-blog">
        <header class="header menu-bar header-blog hv-menu-type2">
            <div class="container"> 
                <div class="menu-bar-wrap clearfix">
                   
                    <div class="mobile-button"><span></span></div>
                    <div class="header-menu">
                       
                    </div>
                </div>
            </div>
        </header>
      
       
    </div>
</div><!-- bg-header -->



<app-footer></app-footer>